/*!CK:3148556115!*//*1436188323,*/

.sp_8gX-_CGJEDK{background-image:url(/rsrc.php/v2/ym/r/5VF20sYSfpZ.png);background-size:18px 86px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_8gX-_CGJEDK.sx_c3734c{background-position:0 0}.sp_8gX-_CGJEDK.sx_f7496b{background-position:0 -18px}.sp_8gX-_CGJEDK.sx_6234ed{width:12px;height:12px;background-position:0 -72px}.sp_8gX-_CGJEDK.sx_448558{background-position:0 -36px}.sp_8gX-_CGJEDK.sx_46ffc9{background-position:0 -54px}

#bootloader_Azl_C { height: 42px; }
.bootloader_Azl_C { display:block !important; }