/*!CK:1420188623!*//*1437978517,*/

.sp_PrObXkWnO3f{background-image:url(/rsrc.php/v2/yY/r/DgrLxX6zsKs.png);background-size:36px 60px;background-repeat:no-repeat;display:inline-block;height:12px;width:12px}.sp_PrObXkWnO3f.sx_79ae76{background-position:0 -18px}.sp_PrObXkWnO3f.sx_4235a4{background-position:-14px -18px}.sp_PrObXkWnO3f.sx_eb4e8f{width:18px;height:16px;background-position:-18px 0}.selected .sp_PrObXkWnO3f.sx_eb4e8f{background-position:0 0}.sp_PrObXkWnO3f.sx_40b3a7{background-position:0 -32px}.sp_PrObXkWnO3f.sx_6150a9{background-position:-14px -32px}.sp_PrObXkWnO3f.sx_1f7460{background-position:0 -46px}

#bootloader_pBS1a { height: 42px; }
.bootloader_pBS1a { display:block !important; }