/*!CK:3917285642!*//*1438697737,*/

.sp_ZQALVu7y-ff{background-image:url(/rsrc.php/v2/yh/r/K5CIvEdICAp.png);background-size:18px 54px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_ZQALVu7y-ff.sx_457503{background-position:0 0}.sp_ZQALVu7y-ff.sx_30110a{background-position:0 -18px}.sp_ZQALVu7y-ff.sx_b57ae8{background-position:0 -36px}

#bootloader_LW9Lm { height: 42px; }
.bootloader_LW9Lm { display:block !important; }