/*!CK:2489909032!*//*1427739836,*/

.sp_EqPVHBn69DZ{background-image:url(/rsrc.php/v2/yq/r/npXFJI8IR56.png);background-size:28px 66px;background-repeat:no-repeat;display:inline-block;height:50px;width:26px}.sp_EqPVHBn69DZ.sx_fe0fe3{width:10px;height:10px;background-position:-14px -52px}.sp_EqPVHBn69DZ.sx_55cfaf{background-position:0 0}.sp_EqPVHBn69DZ.sx_07321d{width:12px;height:12px;background-position:0 -52px}

#bootloader_n_oxQ { height: 42px; }
.bootloader_n_oxQ { display:block !important; }